$img-w: 730px;
$img-h: 546px;
$font: 'Montserrat', sans-serif;
$font-regular: 'PT Sans';
.container-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $font;
}

header {
  width: 100%;
  height: 1070px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  nav {
    margin: 0 auto;
    padding-top: 36px;
    width: 84.6875%;
    display: flex;
    justify-content: space-between;
    height: 72px;
    z-index: 1000;
    .logo {
      .logo-link {
        svg {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          fill: #f6f6f6;
          &:hover #logo-icon {
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            fill: #bc204b;
          }
        }
      }
    }
    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .menu__item {
        font-size: 24px;
        line-height: 60.03px;
        padding: 0 25px;
        a {
          text-decoration: none;
          color: white;
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          &:hover {
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            color: #BC204B;
          }
        }
      }
    }
  }
  .header-text {
    margin: 298px auto 510px auto;
    text-align: center;
    color: white;
    h1 {
      margin: 0;
      font-size: 72px;
      line-height: 60.22px;
      @media screen and (max-width: 1024px) {
        font-size: 60px;
      }
      @media screen and (max-width: 540px) {
        font-size: 40px;
      }
    }
    p {
      margin: 0;
      padding-top: 20px;
      font-size: 30px;
      font-style: italic;
      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }
      @media screen and (max-width: 540px) {
        font-size: 18px;
      }
    }
  }
}

main {
  background-color: #ebebeb;
  width: 100%;
  .about {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .about__img {
      background: url("../img/about-img.jpg");
      background-size: cover;
      min-width: 380px;
      height: 555px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      svg {
        margin: 75px auto 0 auto;
      }
      .section-name {
        margin-top: 44px;
        text-align: center;
        color: white;
        font-size: 36px;
        line-height: 47.13px;
      }
    }
    .about__content {
      width: 49.754%;
      min-width: 320px;
      display: flex;
      flex-direction: column;
      .about-paragraph:first-child {
        padding-top: 58px;
        @media screen and (max-width: 920px) {
          padding-top: 0;
        }
      }
      .about-paragraph {
        margin: 0 auto;
        padding: 2% 7.5%;
        text-align: justify;
        font-family: $font-regular;
        font-size: 20px;
        color: #665f60;
      }
      .button {
        margin: 40px auto 0 auto;
        padding: 18px 54px;
        text-decoration: none;
        color: #7d7a7c;
        font-style: italic;
        border: 1px solid #7d7a7c;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        @media screen and (max-width: 920px) {
          margin: 5px auto 0 auto;
        }
        &:hover {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          color: #BC204B;
          border: 1px solid #BC204B;
        }
      }
    }
  }
  .services {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .description {
      display: flex;
      justify-content: center;
      max-width: 760px;
      flex-wrap: wrap;
      @media screen and (max-width: 1169px) {
        order: 2;
      }
      .services__blocks {
        font-family: $font-regular;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 400px;
        color: #665f60;
        .headers-blocks {
          font-size: 24px;
        }
        .blocks-paragraph {
          font-size: 18px;
          font-style: italic;
          text-align: center;
          margin: 0;
          width: 205px;
        }
        &:first-child, &:last-child {
          background-color: #dbdbdb;
        }
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("../img/services-img.jpg");
      background-size: cover;
      width: 410px;
      height: 799px;
      color: #fefcfd;
      font-family: $font-regular;
      @media screen and (max-width: 1169px) {
        order: 1;
        width: 760px;
        height: 1480px;
      }
      @media screen and (max-width: 759px) {
        order: 1;
        width: 380px;
        height: 799px;
      }
      svg {
        margin-top: 105px;
      }
      .header-title {
        font-size: 36px;
      }
      .title-paragraph {
        margin: 0 auto;
        width: 340px;
        font-size: 18px;
        font-style: italic;
        text-align: center;
      }
    }
  }
  .works {
    background-image: url("../img/works-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    .header-works {
      padding-top: 50px;
      text-align: center;
      .header-works__title {
        color: #fefcfd;
        font-size: 36px;
      }
    }
    .works__slider {
      width: $img-w;
      height: $img-h;
      margin: 0 auto;
      @media screen and (max-width: 960px) {
        width: $img-w * 0.75;
        height: $img-h * 0.75;
      }
      @media screen and (max-width: 730px) {
        width: $img-w * 0.44;
        height: $img-h * 0.44;
      }
      //change default styles of slick
      .slick-dots {
        li {
          button {
            width: 10px;
            height: 11px;
            border: 1px solid white;
            border-radius: 50%;
            opacity: 1;
            &:before {
              line-height: 15px;
              width: 0;
              font-size: 13px;
              color: white;
            }
          }
        }
        .slick-active {
          &:before {
            opacity: 1;
          }
          button:before {
            opacity: 1;
            color: white;
          }
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    //for positioning svg arrows (look main.js)
    svg {
      fill: #e6e6e6;
      cursor: pointer;
      &:hover {
        fill: #BC204B;
      }
    }
    .next {
      position: absolute;
      top: 50%;
      right: -15%;
    }
    .prev {
      position: absolute;
      top: 50%;
      left: -15%;
    }
    .button-block {
      display: flex;
      justify-content: center;
      .works-button {
        margin-top: 120px;
        padding: 18px 54px;
        text-decoration: none;
        color: #7d7a7c;
        font-style: italic;
        border: 1px solid #7d7a7c;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        &:hover {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          color: #BC204B;
          border: 1px solid #BC204B;
        }
      }
    }
  }
  .our-team {
    padding-top: 54px;
    text-align: center;
    h3 {
      color: #665f60;
      font-size: 36px;
    }
    .our-team__slider {
      margin: 0 auto;
      width: 1110px;
      display: flex;
      justify-content: center;
      margin-top: 60px;
      padding-bottom: 98px;
      @media screen and (max-width: 1250px) {
        width: 729px;
      }
      @media screen and (max-width: 810px) {
        width: 350px;
      }
      @media screen and (max-width: 420px) {
        width: 320px;
      }
      .stick-slider {
        overflow: visible;
      }
    }
    svg {
      fill: black;
      cursor: pointer;
      &:hover {
        fill: #BC204B;
      }
    }
    .next {
      position: absolute;
      top: 33%;
      right: -5%;
    }
    .prev {
      position: absolute;
      top: 33%;
      left: -5%;
    }
    .person-card {
      .empty {
        width: 340px;
        height: 131px;
        background-color: #ebebeb;
      }
      margin: 0 15px;
      width: 350px;
      height: 479px;
      background-color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      img {
        top: 0px;
        right: 48px;
        position: absolute;
        object-fit: cover;
        border: 12px solid #ebebeb;
        border-radius: 50%;
        @media screen and (max-width: 1250px) {
          right: 38px;
        }
        @media screen and (max-width: 810px) {
          right: 28px;
        }
        @media screen and (max-width: 420px) {
          right: 14px;
        }
      }
      h3 {
        margin-top: 135px;
        margin-bottom: 34px;
        font-size: 24px;
        color: #9f9acf;
      }
      span {
        font-size: 24px;
        color: #665f60;
        margin-bottom: 51px;
      }
      .person-card__buttons {
        background-color: #9f9acf;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          text-decoration: none;
          i {
            //flex for postion inside circle
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: white;
            color: #9f9acf;
            border-radius: 50%;
            transition: all 0.6s ease-in-out;
            &:hover {
              transition: all 0.6s ease-in-out;
              background-color: #BC204B;
            }
          }
        }
      }
    }
  }
  .contact {
    background-color: #9f9acf;
    height: 900px;
    #map {
      position: absolute;
      opacity: 0.5;
      width: 100%;
      height: 900px;
    }
    .contact__header {
      padding-top: 56px;
      position: relative;
      opacity: 1;
      text-align: center;
      h3 {

        font-size: 36px;
        color: #ffffff;
      }
    }
    .contact__form {
      margin: 100px auto 0 auto;
      width: 53.75%;
      @media screen and (max-width: 1250px) {
        width: 70.75%;
      }
      @media screen and (max-width: 810px) {
        width: 320px;
      }
      form {
        :nth-child(2n) {
          margin-left: 4%;
          @media screen and (max-width: 810px) {
            margin-left: 0;
          }
        }
        .user-data {
          background-color: #ebebeb;
          border: none;
          border-radius: 5px;
          height: 56px;
          width: 43%;
          opacity: 0.5;
          margin-bottom: 20px;
          font-style: italic;
          &:focus {
            color: white;
            background-color: black;
          }
          @media screen and (max-width: 810px) {
            width: 320px;
          }
        }
        .massage {
          background-color: #ebebeb;
          border: none;
          border-radius: 5px;
          width: 90.9%;
          min-width: 320px;
          height: 200px;
          opacity: 0.5;
          font-style: italic;
          resize: vertical;
          &:focus {
            color: white;
            background-color: black;
          }
        }
        .send-button {
          margin-top: 55px;
          width: 292px;
          height: 70px;
          border: none;
          background-color: #9f9acf;
          border-radius: 5px;
          color: white;
          font-size: 20px;
          letter-spacing: 0.3px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          &:hover {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #BC204B;
          }
        }
      }
    }
    .side-buttons {
      .side-buttons__home {
        display: flex;
        align-items: center;
        position: absolute;
        top: 200px;
        right: -257px;
        color: white;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          right: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        .visible-part {
          width: 91px;
          height: 91px;
          background-color: #9f9acf;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .hidden-part {
          width: 257px;
          height: 91px;
          background-color: #ebebeb;
          p {
            color: black;
          }
        }

      }
      .side-buttons__mobile {
        display: flex;
        align-items: center;
        position: absolute;
        top: 291px;
        right: -257px;
        color: white;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          right: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        .visible-part {
          width: 91px;
          height: 91px;
          background-color: #9f9acf;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .hidden-part {
          width: 257px;
          height: 91px;
          background-color: #ebebeb;
          p {
            color: black;
          }
        }
      }
    }
  }
}

footer {
  margin: 0;
  padding: 0;
  background-color: #9f9acf;
  width: 100%;
  height: 185px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  span {
    color: white;
    font-size: 18px;
    letter-spacing: 0.36px;
  }
  .footer-socmed {
    width: 260px;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      i {
        //flex for postion inside circle
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: white;
        color: #9f9acf;
        border-radius: 50%;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        &:hover {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          background-color: #BC204B;
        }
      }
    }
  }
  .return-button {
    #return-to-top {
      position: absolute;
      right: 10px;
      top: -100px;
      width: 84px;
      height: 84px;
      background-color: #9f9acf;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:hover {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #BC204B;
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


