@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$img-w: 730px;
$img-h: 546px;
$font: 'Montserrat', sans-serif;
$font-regular: 'PT Sans';
.container-wrapper {
  max-width: 100%;
  //min-width: 1100px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $font;
}

header {
  width: 100%;
  height: 1070px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  nav {
    margin: 0 auto;
    padding-top: 36px;
    width: 84.6875%;
    display: flex;
    justify-content: space-between;
    height: 72px;
    z-index: 1000;
    .logo {
      .logo-link {
        svg {
          transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          fill: #f6f6f6;
          &:hover #logo-icon {
            transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            fill: #bc204b;
          }
        }
      }
    }
    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .menu__item {
        font-size: 24px;
        line-height: 60.03px;
        padding: 0 25px;
        a {
          text-decoration: none;
          color: white;
          transition: all 0.6s ease-in-out;
          &:hover {
            transition: all 0.6s ease-in-out;
            color: #BC204B;
          }
        }
      }
    }
  }
  .header-text {
    margin: 298px auto 510px auto;
    text-align: center;
    color: white;
    h1 {
      margin: 0;
      font-size: 72px;
      line-height: 60.22px;
    }
    p {
      margin: 0;
      padding-top: 20px;
      font-size: 30px;
      font-style: italic;
    }
  }
}

main {
  background-color: #ebebeb;
  width: 100%;
  .about {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .about__img {
      background: url("../img/about-img.jpg");
      background-size: cover;
      min-width: 380px;
      height: 555px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      svg {
        margin: 75px auto 0 auto;
      }
      .section-name {
        margin-top: 44px;
        text-align: center;
        color: white;
        font-size: 36px;
        line-height: 47.13px;
      }
    }
    .about__content {
      width: 49.754%;
      min-width: 320px;
      display: flex;
      flex-direction: column;
      .about-paragraph:first-child {
        padding-top: 58px;
      }
      .about-paragraph {
        margin: 0 auto;
        padding: 2% 7.5%;
        text-align: justify;
        font-family: $font-regular;
        font-size: 20px;
        color: #665f60;
      }
      .button {
        margin: 40px auto 0 auto;
        padding: 18px 54px;
        text-decoration: none;
        color: #7d7a7c;
        font-style: italic;
        border: 1px solid #7d7a7c;
        transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        &:hover {
          transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          color: #BC204B;
          border: 1px solid #BC204B;
        }
      }
    }
  }
  .services {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .description {
      display: flex;
      justify-content: center;
      max-width: 760px;
      flex-wrap: wrap;
      @media screen and (max-width: 1169px) {
        order: 2;
      }
      .services__blocks {
        font-family: $font-regular;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 400px;
        color: #665f60;
        .headers-blocks {
          font-size: 24px;
        }
        .blocks-paragraph {
          font-size: 18px;
          font-style: italic;
          text-align: center;
          margin: 0;
          width: 205px;
        }
        &:first-child, &:last-child {
          background-color: #dbdbdb;
        }
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      //justify-content: center;
      align-items: center;
      background-image: url("../img/services-img.jpg");
      background-size: cover;
      width: 410px;
      height: 799px;
      color: #fefcfd;
      font-family: $font-regular;
      @media screen and (max-width: 1169px) {
        order: 1;
        width: 760px;
        height: 1480px;
      }
      @media screen and (max-width: 1140px) {
        order: 1;
        width: 380px;
        height: 799px;
      }
      svg {
        margin-top: 105px;
      }
      .header-title {
        font-size: 36px;
      }
      .title-paragraph {
        margin: 0 auto;
        width: 340px;
        font-size: 18px;
        font-style: italic;
        text-align: center;
      }
    }
  }
  .works {
    background-image: url("../img/works-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    .header-works {
      padding-top: 50px;
      text-align: center;
      .header-works__title {
        color: #fefcfd;
        font-size: 36px;
      }
    }
    .works__slider {
      width: $img-w;
      height: $img-h;
      margin: 0 auto;
      @media screen and (max-width: 960px) {
        width: $img-w * 0.75;
        height: $img-h * 0.75;
      }
      @media screen and (max-width: 730px) {
        width: $img-w * 0.44;
        height: $img-h * 0.44;
      }
      //change default styles of slick
      .slick-dots {
        li {
          button {
            width: 10px;
            height: 10px;
            border: 1px solid white;
            border-radius: 50%;
            opacity: 1;
            &:before {
              //opacity: 0;
              line-height: 15px;
              width: 0;
              font-size: 12px;
              color: white;
            }
          }
        }
        .slick-active {
          &:before {
            opacity: 1;
          }
          button:before {
            opacity: 1;
            color: white;
          }
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    //for positioning svg arrows (look main.js)
    svg {
      fill: #e6e6e6;
      cursor: pointer;
      &:hover {
        fill: #BC204B;
      }
    }
    .next {
      position: absolute;
      top: 50%;
      right: -15%;
    }
    .prev {
      position: absolute;
      top: 50%;
      left: -15%;
    }
    .button-block {
      display: flex;
      justify-content: center;
      .works-button {
        margin-top: 120px;
        padding: 18px 54px;
        text-decoration: none;
        color: #7d7a7c;
        font-style: italic;
        border: 1px solid #7d7a7c;
        transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        &:hover {
          transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          color: #BC204B;
          border: 1px solid #BC204B;
        }
      }
    }
  }
  .our-team {
    padding-top: 54px;
    text-align: center;
    h3 {
      color: #665f60;
      font-size: 36px;
    }
  }
}


