@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.container-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

header {
  width: 100%;
  height: 1070px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover; }
  header nav {
    margin: 0 auto;
    padding-top: 36px;
    width: 84.6875%;
    display: flex;
    justify-content: space-between;
    height: 72px;
    z-index: 1000; }
    header nav .logo .logo-link svg {
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      fill: #f6f6f6; }
      header nav .logo .logo-link svg:hover #logo-icon {
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        fill: #bc204b; }
    header nav .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      @media screen and (max-width: 960px) {
        header nav .menu {
          display: none; } }
      header nav .menu .menu__item {
        font-size: 24px;
        line-height: 60.03px;
        padding: 0 25px; }
        header nav .menu .menu__item a {
          text-decoration: none;
          color: white;
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out; }
          header nav .menu .menu__item a:hover {
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            color: #BC204B; }
    header nav .hamburger {
      position: relative;
      right: 5%; }
      header nav .hamburger .container {
        display: none;
        position: fixed;
        cursor: pointer; }
        @media screen and (max-width: 960px) {
          header nav .hamburger .container {
            display: block; } }
        header nav .hamburger .container .bar1, header nav .hamburger .container .bar2, header nav .hamburger .container .bar3 {
          width: 35px;
          height: 5px;
          background-color: white;
          margin: 6px 0;
          transition: 0.4s; }
      header nav .hamburger .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px); }
      header nav .hamburger .change .bar2 {
        opacity: 0; }
      header nav .hamburger .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px); }
    header nav .menu-mob {
      margin: 0;
      padding: 0;
      width: 320px;
      position: fixed;
      top: 110px;
      right: -320px;
      transition: all 0.6s; }
      header nav .menu-mob .menu-mob__ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #BC204B; }
        header nav .menu-mob .menu-mob__ul .menu-mob-ul__item {
          text-align: center;
          font-size: 18px;
          padding: 15px 0; }
          header nav .menu-mob .menu-mob__ul .menu-mob-ul__item a {
            text-decoration: none;
            color: white; }
    header nav .menu-mob-onclick {
      transition: all 0.6s;
      right: 0; }
  header .header-text {
    margin: 298px auto 510px auto;
    text-align: center;
    color: white; }
    header .header-text h1 {
      margin: 0;
      font-size: 72px;
      line-height: 60.22px; }
      @media screen and (max-width: 1024px) {
        header .header-text h1 {
          font-size: 60px; } }
      @media screen and (max-width: 540px) {
        header .header-text h1 {
          font-size: 40px; } }
    header .header-text p {
      margin: 0;
      padding-top: 20px;
      font-size: 30px;
      font-style: italic; }
      @media screen and (max-width: 1024px) {
        header .header-text p {
          font-size: 20px; } }
      @media screen and (max-width: 540px) {
        header .header-text p {
          font-size: 18px; } }

main {
  background-color: #ebebeb;
  width: 100%; }
  main .about {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    main .about .about__img {
      background: url("../img/about-img.jpg");
      background-size: cover;
      min-width: 380px;
      height: 555px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      main .about .about__img svg {
        margin: 75px auto 0 auto; }
      main .about .about__img .section-name {
        margin-top: 44px;
        text-align: center;
        color: white;
        font-size: 36px;
        line-height: 47.13px; }
    main .about .about__content {
      width: 49.754%;
      min-width: 320px;
      display: flex;
      flex-direction: column; }
      main .about .about__content .about-paragraph:first-child {
        padding-top: 58px; }
        @media screen and (max-width: 920px) {
          main .about .about__content .about-paragraph:first-child {
            padding-top: 0; } }
      main .about .about__content .about-paragraph {
        margin: 0 auto;
        padding: 2% 7.5%;
        text-align: justify;
        font-family: "PT Sans";
        font-size: 20px;
        color: #665f60; }
      main .about .about__content .button {
        margin: 40px auto 0 auto;
        padding: 18px 54px;
        text-decoration: none;
        color: #7d7a7c;
        font-style: italic;
        border: 1px solid #7d7a7c;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out; }
        @media screen and (max-width: 920px) {
          main .about .about__content .button {
            margin: 5px auto 0 auto; } }
        main .about .about__content .button:hover {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          color: #BC204B;
          border: 1px solid #BC204B; }
  main .services {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    main .services .description {
      display: flex;
      justify-content: center;
      max-width: 760px;
      flex-wrap: wrap; }
      @media screen and (max-width: 1169px) {
        main .services .description {
          order: 2; } }
      main .services .description .services__blocks {
        font-family: "PT Sans";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 400px;
        color: #665f60; }
        @media screen and (max-width: 759px) {
          main .services .description .services__blocks {
            width: 320px;
            height: 335px; } }
        main .services .description .services__blocks .headers-blocks {
          font-size: 24px; }
        main .services .description .services__blocks .blocks-paragraph {
          font-size: 18px;
          font-style: italic;
          text-align: center;
          margin: 0;
          width: 205px; }
        @media screen and (max-width: 639px) {
          main .services .description .services__blocks:nth-child(2n-1) {
            background-color: #dbdbdb; } }
        @media screen and (min-width: 640px) {
          main .services .description .services__blocks:first-child, main .services .description .services__blocks:last-child {
            background-color: #dbdbdb; } }
    main .services .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("../img/services-img.jpg");
      background-size: cover;
      width: 410px;
      height: 799px;
      color: #fefcfd;
      font-family: "PT Sans"; }
      @media screen and (max-width: 1169px) {
        main .services .title {
          order: 1;
          width: 760px;
          height: 1480px; } }
      @media screen and (max-width: 759px) {
        main .services .title {
          order: 1;
          width: 640px;
          height: 799px; } }
      @media screen and (max-width: 639px) {
        main .services .title {
          order: 1;
          width: 320px;
          height: 620px; } }
      main .services .title svg {
        margin-top: 105px; }
      main .services .title .header-title {
        font-size: 36px; }
      main .services .title .title-paragraph {
        margin: 0 auto;
        width: 340px;
        font-size: 18px;
        font-style: italic;
        text-align: center; }
        @media screen and (max-width: 639px) {
          main .services .title .title-paragraph {
            width: 310px;
            font-size: 16px; } }
  main .works {
    background-image: url("../img/works-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 1000px;
    overflow: hidden; }
    main .works .header-works {
      padding-top: 50px;
      text-align: center; }
      main .works .header-works .header-works__title {
        color: #fefcfd;
        font-size: 36px; }
    main .works .works__slider {
      width: 730px;
      height: 546px;
      margin: 0 auto; }
      @media screen and (max-width: 960px) {
        main .works .works__slider {
          width: 547.5px;
          height: 409.5px; } }
      @media screen and (max-width: 730px) {
        main .works .works__slider {
          width: 321.2px;
          height: 240.24px; } }
      main .works .works__slider .slick-dots li button {
        width: 10px;
        height: 11px;
        border: 1px solid white;
        border-radius: 50%;
        opacity: 1; }
        main .works .works__slider .slick-dots li button:before {
          line-height: 15px;
          width: 0;
          font-size: 13px;
          color: white; }
      main .works .works__slider .slick-dots .slick-active:before {
        opacity: 1; }
      main .works .works__slider .slick-dots .slick-active button:before {
        opacity: 1;
        color: white; }
    main .works img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .works svg {
      fill: #e6e6e6;
      cursor: pointer; }
      main .works svg:hover {
        fill: #BC204B; }
    main .works .next {
      position: absolute;
      top: 50%;
      right: -15%; }
    main .works .prev {
      position: absolute;
      top: 50%;
      left: -15%; }
    main .works .button-block {
      display: flex;
      justify-content: center; }
      main .works .button-block .works-button {
        margin-top: 120px;
        padding: 18px 54px;
        text-decoration: none;
        color: #7d7a7c;
        font-style: italic;
        border: 1px solid #7d7a7c;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out; }
        main .works .button-block .works-button:hover {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          color: #BC204B;
          border: 1px solid #BC204B; }
  main .our-team {
    padding-top: 54px;
    text-align: center; }
    main .our-team h3 {
      color: #665f60;
      font-size: 36px; }
    main .our-team .our-team__slider {
      margin: 0 auto;
      width: 1110px;
      display: flex;
      justify-content: center;
      margin-top: 60px;
      padding-bottom: 98px; }
      @media screen and (max-width: 1250px) {
        main .our-team .our-team__slider {
          width: 729px; } }
      @media screen and (max-width: 810px) {
        main .our-team .our-team__slider {
          width: 350px; } }
      @media screen and (max-width: 420px) {
        main .our-team .our-team__slider {
          width: 320px; } }
      main .our-team .our-team__slider .stick-slider {
        overflow: visible; }
    main .our-team svg {
      fill: black;
      cursor: pointer; }
      main .our-team svg:hover {
        fill: #BC204B; }
    main .our-team .next {
      position: absolute;
      top: 33%;
      right: -5%; }
    main .our-team .prev {
      position: absolute;
      top: 33%;
      left: -5%; }
    main .our-team .person-card {
      margin: 0 15px;
      width: 350px;
      height: 479px;
      background-color: white;
      position: relative;
      display: flex;
      flex-direction: column; }
      main .our-team .person-card .empty {
        width: 340px;
        height: 131px;
        background-color: #ebebeb; }
      main .our-team .person-card img {
        top: 0px;
        right: 48px;
        position: absolute;
        object-fit: cover;
        border: 12px solid #ebebeb;
        border-radius: 50%; }
        @media screen and (max-width: 1250px) {
          main .our-team .person-card img {
            right: 38px; } }
        @media screen and (max-width: 810px) {
          main .our-team .person-card img {
            right: 28px; } }
        @media screen and (max-width: 420px) {
          main .our-team .person-card img {
            right: 14px; } }
      main .our-team .person-card h3 {
        margin-top: 135px;
        margin-bottom: 34px;
        font-size: 24px;
        color: #9f9acf; }
      main .our-team .person-card span {
        font-size: 24px;
        color: #665f60;
        margin-bottom: 51px; }
      main .our-team .person-card .person-card__buttons {
        background-color: #9f9acf;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        main .our-team .person-card .person-card__buttons a {
          text-decoration: none; }
          main .our-team .person-card .person-card__buttons a i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: white;
            color: #9f9acf;
            border-radius: 50%;
            transition: all 0.6s ease-in-out; }
            main .our-team .person-card .person-card__buttons a i:hover {
              transition: all 0.6s ease-in-out;
              background-color: #BC204B; }
  main .contact {
    background-color: #9f9acf;
    height: 900px; }
    main .contact #map {
      position: absolute;
      opacity: 0.5;
      width: 100%;
      height: 900px; }
    main .contact .contact__header {
      padding-top: 56px;
      position: relative;
      opacity: 1;
      text-align: center; }
      main .contact .contact__header h3 {
        font-size: 36px;
        color: #ffffff; }
    main .contact .contact__form {
      margin: 100px auto 0 auto;
      width: 53.75%; }
      @media screen and (max-width: 1250px) {
        main .contact .contact__form {
          width: 70.75%; } }
      @media screen and (max-width: 810px) {
        main .contact .contact__form {
          width: 320px; } }
      main .contact .contact__form form :nth-child(2n) {
        margin-left: 4%; }
        @media screen and (max-width: 810px) {
          main .contact .contact__form form :nth-child(2n) {
            margin-left: 0; } }
      main .contact .contact__form form .user-data {
        background-color: #ebebeb;
        border: none;
        border-radius: 5px;
        height: 56px;
        width: 43%;
        opacity: 0.5;
        margin-bottom: 20px;
        font-style: italic; }
        main .contact .contact__form form .user-data:focus {
          color: white;
          background-color: black; }
        @media screen and (max-width: 810px) {
          main .contact .contact__form form .user-data {
            width: 320px; } }
      main .contact .contact__form form .massage {
        background-color: #ebebeb;
        border: none;
        border-radius: 5px;
        width: 90.9%;
        min-width: 320px;
        height: 200px;
        opacity: 0.5;
        font-style: italic;
        resize: vertical; }
        main .contact .contact__form form .massage:focus {
          color: white;
          background-color: black; }
      main .contact .contact__form form .send-button {
        margin-top: 55px;
        width: 292px;
        height: 70px;
        border: none;
        background-color: #9f9acf;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        letter-spacing: 0.3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        main .contact .contact__form form .send-button:hover {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background-color: #BC204B; }
    main .contact .side-buttons .side-buttons__home {
      display: flex;
      align-items: center;
      position: absolute;
      top: 200px;
      right: -257px;
      color: white;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      @media screen and (max-width: 641px) {
        main .contact .side-buttons .side-buttons__home {
          right: -128px; } }
      main .contact .side-buttons .side-buttons__home:hover {
        right: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      main .contact .side-buttons .side-buttons__home .visible-part {
        width: 91px;
        height: 91px;
        background-color: #9f9acf;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media screen and (max-width: 641px) {
          main .contact .side-buttons .side-buttons__home .visible-part {
            width: 46px;
            height: 46px; } }
      main .contact .side-buttons .side-buttons__home .hidden-part {
        width: 257px;
        height: 91px;
        background-color: #ebebeb; }
        @media screen and (max-width: 641px) {
          main .contact .side-buttons .side-buttons__home .hidden-part {
            width: 128px;
            height: 46px; } }
        main .contact .side-buttons .side-buttons__home .hidden-part p {
          font-size: 18px;
          color: black; }
          @media screen and (max-width: 641px) {
            main .contact .side-buttons .side-buttons__home .hidden-part p {
              font-size: 8px; } }
    main .contact .side-buttons .side-buttons__mobile {
      display: flex;
      align-items: center;
      position: absolute;
      top: 291px;
      right: -257px;
      color: white;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      @media screen and (max-width: 641px) {
        main .contact .side-buttons .side-buttons__mobile {
          top: 246px;
          right: -128px; } }
      main .contact .side-buttons .side-buttons__mobile:hover {
        right: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      main .contact .side-buttons .side-buttons__mobile .visible-part {
        width: 91px;
        height: 91px;
        background-color: #9f9acf;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media screen and (max-width: 641px) {
          main .contact .side-buttons .side-buttons__mobile .visible-part {
            width: 46px;
            height: 46px; } }
      main .contact .side-buttons .side-buttons__mobile .hidden-part {
        width: 257px;
        height: 91px;
        background-color: #ebebeb; }
        @media screen and (max-width: 641px) {
          main .contact .side-buttons .side-buttons__mobile .hidden-part {
            width: 128px;
            height: 46px; } }
        main .contact .side-buttons .side-buttons__mobile .hidden-part p {
          font-size: 18px;
          color: black; }
          @media screen and (max-width: 641px) {
            main .contact .side-buttons .side-buttons__mobile .hidden-part p {
              font-size: 10px; } }

footer {
  margin: 0;
  padding: 0;
  background-color: #9f9acf;
  width: 100%;
  height: 185px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  footer span {
    margin: 0 auto;
    color: white;
    font-size: 18px;
    letter-spacing: 0.36px; }
    @media screen and (max-width: 641px) {
      footer span {
        text-align: center; } }
  footer .footer-socmed {
    margin: 0 auto;
    width: 260px;
    display: flex;
    justify-content: space-around; }
    footer .footer-socmed a {
      text-decoration: none; }
      footer .footer-socmed a i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: white;
        color: #9f9acf;
        border-radius: 50%;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out; }
        footer .footer-socmed a i:hover {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          background-color: #BC204B; }
  footer .return-button #return-to-top {
    position: absolute;
    right: 10px;
    top: -100px;
    width: 84px;
    height: 84px;
    background-color: #9f9acf;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    footer .return-button #return-to-top:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #BC204B; }
    @media screen and (max-width: 641px) {
      footer .return-button #return-to-top {
        width: 42px;
        height: 42px;
        top: -80px; } }
